.myNav {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.image {
    background-image : url("Images/exteriorHouseImpact.jpg");
    background-repeat : no-repeat;
    background-size : 1600px, 900px;
    height : 900px;
    padding-top: 300px;
    
}

.jumbotext {
    padding-top: 150px;
    padding-left: 300px;
}

